body{
    margin:0;
}
header{
    width:100%;
    background-color:black;
    float:left;
    position:fixed;
    border-bottom:3px solid lightblue;


}
.container{
    width:1170px;
    margin:0 auto;



}
.logo{
    width:20%;
    float:left;
    margin:10px 0;


}
header .logo img{
    float:left;

    width:30%;
}
header .logo .heading{
    float:left;
    width:20%;
    font-family: Candara;
    color:white;
    font-weight: bold;
    font-size: 30px;
    margin:20px 10px 0;


}
nav{
    width:70%;
    float:left;
    /*background-color: yellow;*/
    margin:0 0 0 100px;

}
header nav ul{
    float:right;
    margin:30px 0 0 0 ;

}
header ul li{
    display:inline-block;
    list-style-type: none;
    margin:10px 20px;

}
header ul li:last-child a{
    background-color: blueviolet;
    color: yellow;
}
header ul li:last-child a:hover{
    background-color: #281e1e;
    color: #ffffff;}

header ul li a{
    color:white;
    font-family:Corbel;
    text-decoration: none;
    font-size: 20px;

    padding:10px;
    border-radius:15%;

}
header ul li a:hover{
    background-color: white;
    color: black;
}
header ul li:last-child a:focus{
    background-color: black;
    color: #ffffff;}
header ul li a:focus {
    background-color: yellow;
    color: white;
}
.heading2{
    width:100%;
    float:left;
    text-align: center;
}
.overlay{
    float:left;
    width:100%;
    margin:50px 0 0 0;
    padding:0 0 20px 0;
    background-color: rgba(0,0,0,0.5);
}
.overlay h1 .ab{
    float:left;
    width:25%;
    margin:50px 0 0 400px;
    padding:23px 0 20px 0;
    font-size: 40px;
    text-transform: uppercase;
    color:rgb(0,0,0);
    background-color: white;
    font-weight:900;
    border-radius: 20px 0 20px 0;

}
.boxes{
    float:left;
    background-color:rgba(153,153,153,0.5);
    width:100%;

}
.bigbox{
    width:50%;
    float:left;
    /*background-color: aquamarine;*/
    border-right:2px solid black;
    padding:0 0 40px 0;
}
.bigbox h2{
    font-weight: bold;
    margin:20px 0 0 0;
    padding:10px 0 10px 0;
    font-family: Arial;
    text-transform: capitalize;

}
.bigbox input{
    width:50%;
    border-radius: 10px;
    background-color: rgb(174,174,174);
    border-top:none;
    border-left:none;
    border-right:none;
    border-bottom:2px black solid;
    outline: none;
    padding:5px;

}
input:hover{
    background-color: white;
    color:black;
}
.bigbox textarea{
width:50%;
    resize:none;
    background-color: rgb(174,174,174);
    border:2px solid black;
    border-radius: 10px;


}
textarea:hover{
    background-color: white;
    color:black;
}
.bigbox .but button{
    width:50%;
    padding:10px;
    margin:20px 0 0 40px;
    font-size: 40px;
    background-color: rgba(67,224,58,1);
    border-radius: 20px;
    border-bottom: 2px solid black;
    cursor:pointer;

}
.but button:hover{
    background-color: white;
    color: black;
}
footer{
    float:left;
    width:100%;

}
footer .bottomlayout{
    float:left;
    width:100%;


    text-align: center;
}
footer .bottomlayout p{
    font-size: 20px;
    background-color: #281e1e;
    color:white;
}
.boxes .mapbox{
    width:40%;
    float:left;
    margin:50px 0 0 70px;
border-radius: 20px;
    font-family: Candara;
    font-size: 20px;



}
.boxes .videobox{
    width:40%;
    float:left;
    margin:70px 0 100px 70px;
    border-radius: 20px;
    padding: 0 0 0 0;
    font-family: Candara;


}