body{
  width:100%;
  
  
    margin:0;
    padding:0;
}
header{
   margin:0 !important;
  background-color: rgb(131, 125, 125);
    margin-right: 2px;
    padding:0 !important;
    border-bottom:2px solid yellow;
    
    


}
.heading{
    color:white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
     
}
.navbar-toggler{
    background-color: black;
    display:flex;
    position:absolute;
    top:8px;
    right:22px;

}
.navbar-toggler-icon{
   
   
    font-size: 30px;
}
.logo{
    margin:10px 0;
}
nav ul{
    display:flex;
    justify-content: flex-end;


}
nav ul li{
    list-style-type: none;
    margin:10px 20px;
    padding-top:2rem;
    border:none;
    
}
nav ul li a{
    border:none;
}
nav ul li a:hover{
text-decoration: none;
background-color: white;
color: black;

}
header ul li:last-child a{
    background-color: blueviolet;
    color: yellow;
   
}
header ul li:last-child a:hover{
    background-color: #281e1e;
    color: #ffffff;
}
header ul li a{
    color:white;
    font-family:Corbel;
    text-decoration: none;
    font-size: 20px;

    padding:10px;
    border-radius:15%;

}
header ul li:last-child a:focus{
    background-color: black;
    color: #ffffff;}
header ul li a:focus {
    background-color: yellow;
    color: white;
}
.ban{
    width:100%;
    float:left;
    text-align: center;
    background-image: url(" ../bk3.jpg");
    background-repeat:no-repeat ;
    background-size:100%;
    background-position: center center ;
    color:white;
}
.overlay{
    background-color:rgba(195, 195, 195, 0.10);
    padding:200px 0;
}
 h1{
    font-weight: normal;
    text-transform: uppercase;
    font-size:70px ;

}
 h1 .theme{
    font-family: "Brush Script MT";
    color:rgba(177,98,204,1);

}
.ban button{
    width:20%;
    padding:10px;
    color:white;
    border:3px solid black;
    border-radius:10px;
    font-weight: bold;
    font-size:20px;
    cursor:pointer;
    background-color: rgba(0,0,0,0.5);
}
.ban button:hover{
    background-color: white;
    color:black;

}
.boxes,.boxes2{
    width:100%;
    float:left;
    padding:50px 0 0 0;
    background-color: rgba(153,153,153,0.5);


}
.boxes .box1 ,
.box2{

    float:left;
    width:20%;
    text-align:center;
    padding:3%;
    max-height: 400px;
    min-height: 400px;
    border:2px solid black;
    border-radius:10px;
    cursor:pointer;
    overflow:auto;
    border-color: rgba(0,0,0,0.3);
    background-color:rgba(141,141,141,0.3)



}

.box1:hover
{
    background-color:rgba(115,242,60,0.5);
    color:white;

}
.box1 img{
    width:50%;
}
.box2 img{
    width:100%;
}
.box2:hover{
    background-color:rgba(251,131,222,0.5);
    color:white;

}
.box2{
    margin:100px 0 0 300px;

}

 h2{
    font-family:"Courier New";
    font-size:20px;
    background-color: rgba(70,238,221,0.5);
    padding:10px 0;
    border:2px solid black;
    border-radius:10px
}
.ban2{
    width:100%;
    float:left;
    text-align: center;
    background-image: url(" ../bk2.jpg");
    background-repeat:no-repeat ;
    background-size:cover;
    background-position:center center ;
    color:white;
}
.ban2 h1 .theme {
    background-color: rgba(14,201,197,0.3);
    border-radius:10px;
    color: white;
    padding:20px;

}
.ban2 h1{
    font-weight: 900;


}
.boxes2 .box3 ,
.box4{

    float:left;
    width:20%;
    text-align:center;
    padding:3%;
    max-height: 400px;
    min-height: 400px;
    border:2px solid black;
    border-radius:10px;
    cursor:pointer;
    overflow:auto;
    border-color: rgba(0,0,,0.3);
    background-color:rgba(141,141,141,0.3)




}
.box4{
    margin:100px 0 0 300px;
}
.box3 img{
    width:100%;
}
.box4 img{
    width:100%;

}
.box3:hover
{
    background-color:rgba(115,242,60,0.5);
    color:white;

}
.box4:hover{
    background-color:rgba(251,131,222,0.5);
    color:white;

}
.ban3{
    width:100%;
    float:left;
    text-align: center;
    background-image: url(" ../bk6.jpeg");
    background-repeat:no-repeat ;
    background-size:cover;
    background-position:center center ;
    color:white;
}
.ban3 h1 .theme {
    background-color: rgba(14,201,197,0.3);
    border-radius:10px;
    color: white;
    padding:20px;

}
.ban3 h1{
    font-weight: 900;


}

.box1::-webkit-scrollbar{
    background-color: black;
    width:5%;
    padding:10px 0;
}
.box1::-webkit-scrollbar-thumb{
    width: 2%;
    background-color:rgba(153,153,153,0.5) ;
    border-radius:10px ;
}
.box2::-webkit-scrollbar{
    background-color: black;
    width:5%;
    padding:10px 0;
}
.box2::-webkit-scrollbar-thumb{
    width: 2%;
    background-color:rgba(153,153,153,0.5) ;
    border-radius:10px ;
}
.box3::-webkit-scrollbar{
    background-color: black;
    width:5%;
    padding:10px 0;
}
.box3::-webkit-scrollbar-thumb{
    width: 2%;
    background-color:rgba(153,153,153,0.5) ;
    border-radius:10px ;
}
.box4::-webkit-scrollbar{
    background-color: black;
    width:5%;
    padding:10px 0;
}
.box4::-webkit-scrollbar-thumb{
    width: 2%;
    background-color:rgba(153,153,153,0.5) ;
    border-radius:10px ;
}
footer{
    float:left;
    width:100%;

}

footer .bottomlayout{
    float:left;
    width:100%;


    text-align: center;
}
footer .bottomlayout p{
    font-size: 20px;
    background-color: #281e1e;
    color:white;
}
@media (max-width:992px){
    header ul li:last-child a{
        width:15%;
        text-align: center;
       
    }
}

